.authWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #484339;
}

.authContainer {
  width: 100%;
  height: 100%;
  background-color: #484339;
  padding: 0 52px;
}

#Logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin-top: 48px;
  margin-bottom: 84px;
}

#logoTitle {
  color: #FFF;
  font-family: "Pretendard Variable";
  font-size: 54px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin: 0;
}

.authContent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.authFooter {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  margin-bottom: 50px;
}

#footerText {
  color: #fff;
  font-family: "inter";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  width: 100%;
}