.calendar {
    width:100%;
    height:100%;
    margin: 0 auto;
    background: none;
    border-radius: 10px;
    padding: 20px;
}

.calendar-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:30px;

  height:fit-content;
  
  color: #000;
  text-align: center;
  font-family: "Pretendard Variable";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.6px;

  
}
.select-month{
  display: flex;
  position: relative;
  left:50px;
  width:25px;
  height:25px;
  padding: 15px;
  border:3px;
  border-radius: 50%;
}
.weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);;
  place-items: center;
  width:calc(100%-2*20px);
  margin-top: 10px;
  font-weight: bold;

  position: inherit;
  left:64px;  
}

.calendar-grid {
  display:flex;
  margin-top:10px;
  width:100%;
  height:calc(100% - 100px);
}

.calendar-cell {
  display: flex;
  flex-direction: column;
  width:100%;
  height:115px;

  padding: 8px;
  border: 1px solid #FFE169;
  border-radius: 8px;
}
.calendar-cell:hover{
  background-color:#FFE7CD;
}
.selected{
  background-color: #FFE169;
}
.dimmed {
  display: flex;
  width:100%;
  height:100%;
  padding: 8px;
  border: 1px solid #FFE169;
  justify-content: center;
  color: #aaa;
}
.calendar-grid-cell{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  width:100%;
  height:calc(100% - 50px);
  margin-top: 10px;
  place-items: center;
  place-content: center;
}
.date-number{
  height:fit-content;
}.date-number-sunday{
  height:fit-content;
  color:#f52222;
}.date-number-dimmed-past{
  color:#C71A1A33;
}

.date-number-dimmed{
  color:#00000033;
}

.daily-expense-import{
  display: flex;
  flex-direction: column;
  align-self:flex-start;
  justify-content: center;
  
  height:100%;
  position:relative;
}
.daily-expense{
  color:#FF2626;
  align-self:center;
  justify-self: left;
}.daily-import{
  color:#076AFF;
  align-self:center;
  justify-self: left;
}