<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>돈바라기</title>
    <link rel="stylesheet" href= "./navigationBar.css">
</head>
<body>
    <div class="contents">
        <header>
           
            <nav class="NavBar">
                <div class="Search"><input placeholder="검색어를 입력해주세요."></div>
                <ul class="NavList">
                    <li class="Calender"><a href="#">캘린더</a></li>
                    
                    <li class="ExpandList"><a href="#">지출목록</a></li>
                    
                    <li class="ExpandAnalysis"><a href="#">지출분석</a></li>
                    
                    <li class="CheckList"><a href="#">체크리스트</a></li>
                    
                    <li class="Community"><a href="#">커뮤니티</a></li>
                </ul>
                <div class="img">
                    <img src="./Component/Search.png"alt="Search" class="Search">
                    <img src="./Component/People.png"alt="Login"class="People">
                    <img src="./Component/Browse.png"alt="Browse"class="Browse">
                </div>
            </nav>

        </header>
        
        <main>
            <div class="MainContents">
                <div class="Categori">체크리스트</div>
            </div>
        </main>
        
        <footer>

        </footer>
    </div>
</body>
</html>