<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>메인화면가기</title>
        <link rel="stylesheet" href="Success.css">
    </head>

    <body>

        <div class="screen">
        
            <header>
                <div class="TitleText">
                    <p>돈바라기</p>
                </div>
                <img src="../assets/Logo.png" alt="임시로고" class="LogoImage">
            </header>
            
            <main>
                <div class="BoxText">
                    <div class="div">축하해요!</div>
                    <p class="p">돈바라기와 함께 내 자산을 똑똑하게 관리해 봐요</p>
                    <button class="Button"><div class="BottonText">메인화면으로 가기</div></button>
                </div>
            </main>
        
            <footer>
                <p class="BottomText">ⓒ 2024. 자바칩. All rights reserved.</p>
            </footer>
        
        </div>
    </body>

</html>