
.EAuserInfo {
    display: flex;
    align-items: center;
    
    width: 100%;
    height: 70px;

    font-family: "Pretendard Variable";

    color: black;
}
.EAuserData{
    display: flex;
    justify-content: space-between;
}
.EAtoLogin {
    display:flex;

    width:100%;
    margin:0;
    text-decoration: none;
    align-items: center;
    color: black;
    height: 60px;
}
.EAtoLogin>.EAuserName:hover{
    text-decoration: underline;
}
.EAuserName{
    font-size: 28px;
    font-weight: 700;
    margin-left: 20px;
}
.EAuserIcon {
    width: 56px;
    height: 56px;
    flex-shrink: 0;
    aspect-ratio: 1/1;
    border-radius: 50%;
    margin:0;
    background-color: grey;
}

