.navBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 105px;
  background-color: #1E1E1E;
}

.navLeft {
  width: 415px;
}

.navMenu {
  display: flex;
  flex-direction: row;
  align-items: center;
  
  gap: 60px;
  color: #FFFFFF;

  font-size: 24px;
  
  list-style: none;
  padding: 0;
  margin: 0;
}

.MenuItem {
  color: #FFFFFF;
  text-decoration: none;
}

.MenuItem:hover, .MenuItem:focus {
  color: #FFCC01;
}

.navRight {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 45px;

  margin-left: 120px;
  height: 25px;
  width: 25px;
}